<main class="container">
  <h1>Angular :: <small class="text-muted">Counter App</small></h1>
  <hr />

  <div class="my-4">
    <h3 class="mb-4">Parent Counter: {{ counter }}</h3>
    <button (click)="onDecrement()" class="btn btn-danger">Decrement</button>
    <button (click)="onIncrement()" class="btn btn-primary mx-3">
      Increment
    </button>
  </div>

  <hr />

  <div class="my-4">
    <app-child
      [counter]="counter"
      (counterChange)="counter = $event"
    ></app-child>
  </div>
</main>
